<footer>
    <div style="text-align:center ;">
      <h2 style="font-family:'Brush Script MT', cursive;">About Us</h2>

      <p>Hello everyone! The "VeryVery" team welcomes you.
        Our team includes confectioners from the best European universities.
        Sweets recipes from all over the world are collected here.
        We can please you with the following varieties:</p> 
      <ul style="text-align:left">
        <li>Ukrainian</li>
        <li>French</li>
        <li>italian</li>
        <li>English</li>
        <li>Belgian</li>
        <li>Australian</li>
      </ul>    
    </div>
  
  </footer>
