<div class="container mt - 5 mb - 5">
  <h1 style="font-family: 'Brush Script MT', cursive;">If you want to contact us:</h1>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-lg-6 mt - 2">
        <input type="text" [(ngModel)]="person.name" name="name" required class="form-control" placeholder="Enter your first name">
      </div>

      <div class="col-lg-6 mt - 2">
        <input type="text" [(ngModel)]="person.second_name" name="second_name" required class="form-control" placeholder="Enter your second name">
      </div>

      <div class="col-lg-12 mt - 2">
        <input type="email" [(ngModel)]="person.email" name="email" required class="form-control" placeholder="Enter your email ID">
      </div>

      <div class="col-lg-12 mt - 2">
        <input type="text" [(ngModel)]="person.phone_number" name="phone_number" required class="form-control" placeholder="Enter your mobile phone">
      </div>

      <div class="col-lg-6">
        <button class="btn btn-md btn-dark" type="submit" [disabled]="!myForm.valid">Submit</button>
      </div>

      
    </div>
  </form>
</div>



